@import "tailwindcss";
@source "../app/**/*.{ts,tsx}";
@source "../components/**/*.{ts,tsx}";

html,
body {
	height: 100%;
}

body {
	background: var(--color-background-primary);
	color: var(--color-text-primary);
}
